dist/
__pycache__/
*.pk3.tmp
generator/third_party/
generator/Bulldog_HDE.blend
generator/GL_HDE.blend1
generator/Commando_HDE.blend1
generator/Hydra_HDE.blend
generator/Plasma_Caster_HDE.blend
generator/Stickybomb.blend
